{% extends "base.html" %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% if service.thumbnail %}{{ service.thumbnail.url }}{% endif %}" alt="{{ service.name }}" /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ service.name }}</h1>
                    <div class="fs-5 mb-5">
                        {% if service.price > 0 %}
                        <span class="text-decoration-line-through">₱{{ service.price }}</span>
                        {% endif %}
                        {% if service.discounted_price > 0 %}
                        <span>₱{{ service.discounted_price }}</span>
                        {% endif %}
                    </div>
                    <p class="lead">{{ service.description }}</p>
                    <div class="d-flex">
                        <form method="post" action="{% url 'system:add-to-cart' slug=service.slug %}">
                            {% csrf_token %}
                            <input name="name" value="{{ service.name }}" hidden>
                            {% if not request.user.is_technician %}
                            <div class="input-group">
                                <label for="quantity" class="me-2 form-control">Quantity</label>
                                <input id="quantity" class="form-control text-center me-3" name="quantity" type="number" value="1" max="100" min="0" style="max-width: 4rem" />
                            </div>
                            
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Related items section-->
    <section class="py-5 bg-light">
        {% if services %}
            {% include 'partials/_services.html' with service_title='Services offered' %}
        {% endif %}
    </section>
    
{% endblock %}